body {
    background-color: #91e6c3;
}

img {
    border-radius: 25px;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

#projects img {
    width: 640px;
    height: 480px;
}

header {
    background-color: #e6c375;
    color: #406355;
}

header img {
    position: absolute;
    margin-left: 10px;
    width: 100px;
}

header h1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#hero {
    border: 10px double #91e6c3;
    padding: 45px;
    margin-bottom: 25px;
    background-color: #406355;
    color: #91e6c3;
    font-size: 2rem;
}

#hero img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%; 
    display: block; 
    margin-left: auto;
    margin-right: auto;   
}

#hero p {
    text-align: center;
    margin-left: 1rem;
}

#projects h2 {
    text-align: center;
    color: #406355;
}

hr {
    width: 100%;
}

footer {
    text-align: center;
    padding: 25px 0px 25px 0px;
    background-color: #406355;
    color: #91e6c3;
    border: 10px double #e6c375;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em 2em 2em 2em;
}

ul img {
    width: 75px;
}

ul li {
    background-color: #91e6c3;
    border: 1px solid #406355;
    border-radius: 12px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

#works {
    background-color: #e6a168;
    border: 10px double #406355;
    color: #406355;
    text-align: center;
}

#reviews h2 {
    text-align: center;
    color: #406355;
}

#projects p {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}

#projects img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%; 
    display: block; 
    margin-left: auto;
    margin-right: auto;   
}

#projects {
    padding: 45px;
}



 /* Large screen size */
@media screen and (min-width: 60em) {

    hr {
        display: none;
    }

    #projects {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 25px;
    }

    #projects p {
        font-size: 2rem;
        margin-left: 1rem;
    }

    #hero {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    h1 {
    font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}
